#chat{
    
    
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    background-position: bottom right;
    bottom: -100px;
    right: 28px;
    width: 280px;
    pointer-events: auto;
   
}

#output p{
    color: #aaa;
    background-color: red;
    padding: 14px 0;
    margin:0 20px;
}
#output{
    overflow:auto;
    height: 100px;
}

#chat-container-open{
   
    display: block;
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    background-position: bottom right;
    position: fixed;
    bottom: 0px;
    right: 28px;
    width: 280px;
    pointer-events: auto;
}


