body{
    background: url(../img/banner.jpg) no-repeat center fixed;
    background-size: cover;
}

.main{
    margin: 0 auto;
    margin-top: 15%;
    padding: 0;
}

.inicioS{
    opacity: 1;
    color: white;
}

.user-img{
    margin-top: -50px;
    margin-bottom: 10px;
}

.user-img img{
    width: 150px;
    height: 150px;
}
.modal-content{
    background-color: #3b4652;
    opacity: .85;
    padding: 0 20px;
    box-shadow: 0px 0px 4px black;
}