.containerP{
    background: #D7E6E5;
}

.img{
    margin-top: 20px;
    margin-bottom: 10px;
}
.img-P{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
}

.pf{
    text-align: center;
}