<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/perfiles.css">
    <title>blog</title>
</head>
<body>
    <div class="row containerP">
        <div class="col-lg-3 pf">
            <div class="img container">
                <img src="" alt="">
            </div>
            <h3>Jhon Edinson</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus officia aliquam iure vitae et. Animi nisi illo iste numquam repellendus!</p>
        </div>
        <div class="col-lg-3 col-sm-12 pf">
            <div class="img container">
                <img src="" alt="">
            </div>
            <h3>Oswaldo Andres</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus officia aliquam iure vitae et. Animi nisi illo iste numquam repellendus!</p>
        </div>
        <div class="col-lg-3 col-sm-12 pf">
            <div class="img container">
                <img src="" alt="">
            </div>
            <h3>Fabian Andres</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus officia aliquam iure vitae et. Animi nisi illo iste numquam repellendus!</p>
        </div>
        <div class="col-lg-3 col-sm-12 pf">
            <div class="img container">
                <img src="" alt="">
            </div>
            <h3>Andres Felipe</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus officia aliquam iure vitae et. Animi nisi illo iste numquam repellendus!</p>
        </div>
    </div>  
</body>
</html>