<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pet Safe</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">

    <title>Document</title>
</head>
<body>
    <div class="col-12 card-header menu-bar">
        <label class="title-logo">Pet Safe</label>
    </div>
    
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main">
            <div class="modal-content">

                <div class="user-img">
                    <img src="img/LogoPetSafe.png" class="mb-2">
                </div>  

                <h1 class="h3 mb-3 font-weight-normal inicioS">INICIO DE SESION</h1>
                &nbsp

                <form class="col-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre de usuario">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña">
                    </div>   
                    <button type="submit" class="btn btn-primary" >Inicio sesion</button>             
                </form>

                &nbsp
                <div class="col-12">
                    <a href="">Olvidaste tu contraseña</a>
                </div>
                &nbsp

            </div>
        </div>
    </div>
</body>
</html>
