.main-header{
    background: url(../img/bg.webp);
    background-size: cover; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.background-overlay{
    background: rgba(34, 166, 179,0.5);
}
.team{
    background: url(../img/bg2.png);
    background-size: cover;
}